[Unit]
Description=ESP Controller Service UI
After=network.target

[Service]
ExecStart=/usr/local/bin/esp-controller-ui
Restart=on-failure
WorkingDirectory=/var/lib/esp-controller
RuntimeDirectory=esp-controller
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
